<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs', {title: 'MediSystemsPro' }) %>
        <link rel="stylesheet" href="/styles/patient-details.css">
</head>

<body>
    <%- include('../partials/navbar.ejs') %>

        <div class="card d-flex align-items-center">
            <img src="/assets/images/pt.jpg">

            <h2 class="patient-name font-weight-bold ">
                <%= patient.name %>
            </h2>
            <% for (let doctor of patient.doctors) { %>
                <h3 class="doctor-name font-weight-bold">
                  Dr. <%= doctor.name %> <%= doctor.type %>
                  <form action="/patients/<%= patient._id %>/unassign-doctor" method="POST">
                    <button type="submit" class="btn btn-sm btn-red">Unassign Doctor</button>
                  </form>
                </h3>
              <% } %>     

            <section>
                <p><strong>Date of Birth:</strong>
                    <%= patient.dob %>
                </p>
                <p><strong>Age:</strong>
                    <%= patient.age %>
                </p>
                <p><strong>Sex:</strong>
                    <%= patient.sex%>
                </p>
                <p><strong>Number:</strong>
                    <%= patient.phoneNumber %>
                </p>
                <p><strong>Email:</strong>
                    <%= patient.email %>
                </p>
                <p><strong>Location:</strong>
                    <%= `${patient.city}, ${patient.state}` %>
                </p>
                <p><strong>Social Security #:</strong>
                    <%= patient.ssn %>
                </p>
                <p><strong>Marital Status:</strong>
                    <%= patient.maritalStatus %>
                </p>
                <p><strong>Blood Type:</strong>
                    <%= patient.bloodType %>
                </p>
                <p>
                    <strong>Condition:</strong>
                    <span class="text-warning"><%= patient.condition %></span>
                </p>
                
                <p>
                    <strong>Allergies:</strong>
                    <% if (patient.allergies === 'NKDA') { %>
                        <span class="text-success"><%= patient.allergies %></span>
                    <% } else { %>
                        <span class="text-danger"><%= patient.allergies %></span>
                    <% } %>
                </p>                
                <p class='text-center'>
                    <strong class="<%= patient.checkedIn ? 'text-success' : 'text-danger' %>">
                        <%= patient.checkedIn ? 'Checked-In' : 'Checked-Out' %>
                    </strong>
                </p>
            </section>

            <section class="actions">
                <div class="btn-group btn-group-justified" role="group" aria-label="Patient Actions">
                    <a href="/patients/<%= patient._id %>/edit" class="btn btn-sm btn-yellow">Edit</a>
                    <form method="POST" action="/patients/<%= patient._id %>/checkin?_method=PUT" class="btn-group"
                        role="group">
                        <button type="submit" class="btn btn-sm btn-green">Check-In</button>
                    </form>
                    <form method="POST" action="/patients/<%= patient._id %>/checkout?_method=PUT" class="btn-group"
                        role="group">
                        <button type="submit" class="btn btn-sm btn-gray">Check-Out</button>
                    </form>
                    <form method="POST" action="/patients/<%= patient._id %>?_method=DELETE" class="btn-group" role="group">
                        <button type="submit" class="btn btn-sm btn-red">Delete</button>
                      </form>                                         
                </div>
            </section>
            <br>
                <!-- Doctor selection dropdown -->
                <form action="/patients/<%= patient._id %>/assign-doctor" method="POST">
                    <label for="doctor">Doctor:</label>
                    <select name="doctor" id="doctor">
                      <% for (let doctor of doctors) { %>
                        <% if (doctor.availability) { %>
                          <option value="<%= doctor._id %>"><%= doctor.name %></option>
                        <% } %>
                      <% } %>
                    </select>
                    <input type="submit" value="Assign">
                  </form>
                  
            

        </div>

                <%- include('../partials/footer.ejs') %>
</body>

</html>