<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs', {title: 'MediSystemsPro'}) %>
    <link rel="stylesheet" href="/styles/patient-index.css">
</head>

<body>
    <%- include('../partials/navbar.ejs') %>

    <section class="hero d-flex flex-column align-items-center">
        <h2>Welcome to the Patient Tab</h2>
        <h3>Track all current patients</h3>
    </section>

    <main>
        <div class="text-end m-4">
            <a href="/patients/new" class="btn btn-primary">Add a New Patient</a>
        </div>
        <main>
            <section class="listings d-flex justify-content-center">
                <ul>
                    <% for (let patient of patients) { %>
                    <li>
                        <figure>
                            <img src="/assets/images/pt.jpg">
                            <figcaption>
                                <br>
                                <h2><%= patient.name %></h2>
                                <br>
                                <h4>Age: <%= patient.age %></h4>
                                <br>
                                <h5>
                                    <strong class="<%=patient.checkedIn ? 'text-success' : 'text-danger' %>">
                                        <%=patient.checkedIn ? 'Checked-In' : 'Checked-Out' %>
                                    </strong>
                                </h5>                                                               
                                <a href="/patients/<%= patient._id %>">See Details</a>
                            </figcaption>
                        </figure>
                    </li>
                    <% } %>
                </ul>
            </section>
        </main>
        
        

    <%- include('../partials/footer.ejs') %>
</body>

</html>